.newone{
    margin-top: 103px;
}

.newone1{
    display: flex;
}

.newimgone{
    width: 380px;
height: 340px;
}
.textpink{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 37px;

/* Подзаголовки */

color: #D7124D;
margin:1px 0 0 0 ;
}